{% extends 'base/base.html' %}
{% block content %}
    <div class="container">
      <div class="row">
      {% for item in list %}
          <div class="col-md-4">
            <div class="image">
              <span class="text-primary d-inline text-right">{{item[1]}} </span>
              <span class="text-info d-inline text-left">Precio: {{item[2]}}</span><br>
            </div>
            <div id=image{{item[0]}}>
            <img class="img-fluid embed-responsive-item img-thumbnail" src={{item[3]}} title="{{item[3]}}"><br>
            <br><br>
              <div id="div1_{{item[0]}}" style="width:80px;height:80px;display:none;background-color:red;"></div><br>
              <div id="div2_{{item[0]}}" style="width:80px;height:80px;display:none;background-color:green;"></div><br>
              <div id="div3_{{item[0]}}" style="width:80px;height:80px;display:none;background-color:blue;"></div>
            </div>
          </div>
      {% endfor %}
      </div>
    </div>
{% endblock %}
